<!DOCTYPE html>
<html lang="sv">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>DT207G Moment1</title>
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1>DT207G Moment 1</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Startsida</a>
					</li>
					<li id="active">
						L채gg till
					</li>
					<li>
						<a href="/about">Om</a>
					</li>
				</ul>
			</nav>
		</header>

		<main>
			<form method="post">
				<fieldset>
					<legend>L채gg till kurs</legend>
					<!-- EJS -->
					<label for="code">Kurskod: </label>
					<input type="text" id="code" name="code" placeholder="DT000G" value="<%= fillForm.code %>" required><br>
					<label for="name">Kursnamn: </label>
					<input type="text" id="name" name="name" placeholder="Webbutveckling" value="<%= fillForm.name %>" required><br>
					<label for="progression">Progression:</label>
					<input type="text" id="progression" name="progression" placeholder="A" value="<%= fillForm.progression %>" required><br>
					<label for="syllabus">Kursplan:</label>
					<input type="text" id="syllabus" name="syllabus" placeholder="https://www.miun.se/utbildning/kursplaner-och-utbildningsplaner/DT000G/" value="<%= fillForm.syllabus %>" required><br>
					<input type="submit" value="L채gg till">
					<input type="button" id="reset" value="Nollst채ll">
					<div id="error-box"><%- errorMsg %></div>
					<!-- End EJS -->
				</fieldset>
			</form>
		</main>

		<footer>
			2025 William Pettersson
		</footer>
		<script>
			"use strict";
			const resetBtn = document.getElementById("reset");
			const courseCode = document.getElementById("code");
			const courseName = document.getElementById("name");
			const courseProg = document.getElementById("progression");
			const courseSyll = document.getElementById("syllabus");

			resetBtn.addEventListener("click", clearFields);

			function clearFields() {
				courseCode.value = "";
				courseName.value = "";
				courseProg.value = "";
				courseSyll.value = "";
			}
		</script>
	</body>
</html>
