<!DOCTYPE html>
<html lang="sv">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>DT207G Moment1</title>
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1>DT207G Moment 1</h1>
			<nav>
				<ul>
					<li id="active">
						Startsida
					</li>
					<li>
						<a href="/add">Lägg till</a>
					</li>
					<li>
						<a href="/about">Om</a>
					</li>
				</ul>
			</nav>
		</header>

		<main>
			<table>
				<tr>
					<th>Kurskod</th>
					<th>Kursnamn</th>
					<th>Progression</th>
					<th>Ta bort</th>
				</tr>
				<!-- EJS -->
				<% courses.forEach(course => { %>
				<tr>
					<td><a target="_blank" href="<%= course.syllabus %>"><%= course.code %></a></td>
					<td><%= course.name %></td>
					<td><%= course.progression %></td>
					<td>
						<form method="post" action="/delete">
							<input type="text" name="code" value="<%= course.code %>" style="display: none;">
							<input type="submit" class="delete-post" value="X">
						</form>
					</td>
				</tr>
				<% }) %>
				<!-- -->
			</table>
		</main>

		<footer>
			2025 William Pettersson
		</footer>
	</body>
</html>
